@use '../../app/design-tokens' as *;

.cta {
        display: flex;
        justify-content: space-between;
        max-width: 320px;

      // replace this once text-box has wider support
        padding: 0 24px;
        height: 48px;
        align-items: center;
      //...with this:
        //padding: $s-xs $s-sm;
        //text-box: trim-both cap alphabetic;

        color: $c-med-black;
        background-color: $c-primary;

        text-transform: uppercase;
        letter-spacing: 20%;
        font-size: 18px;
        font-weight: 700;

        .icon {
          width: 24px;
          height: 24px;
        }
      }