@use '../../app/design-tokens' as *;

.cta {
  position: relative;
  z-index: 0;
  max-width: 320px;
  height: 48px;
  color: $c-med-black;
  background-color: $c-primary;
  text-transform: uppercase;
  letter-spacing: 20%;
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;

  a {
    color:$c-med-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height:100%;

    .label {
      position: relative;
      z-index: 1; // Now above the pseudo-element
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      text-wrap:nowrap;

    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/images/cta-hover-bg.webp");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    z-index: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

@media screen and (max-width:768px){
  .cta {
    font-size:16px;
  }
}