@use "../../app/design-tokens" as *;

#home #contact {
  font-family: var(--f-meltmino), 'Courier New', monospace;
  background-image: url("/images/contact-bg-lg.webp");
  background-size: cover;
  color:$c-med-black;
  h2 {
    color: $c-med-black;
    background-image: url("/images/contact-h2-bg.webp");
  }
  form {
    display: flex;
    flex-direction: column;
    gap: $s-sm;
    max-width: 720px;
    label {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 10%;
    }
    .field input,
    .field textarea {
      width: 100%;
      padding: $s-sm;

      font-size: 16px;
      background-color: $c-primary-50;
      border: none;
      outline: none;
    }
    .field textarea {
      min-height: 160px;
      resize: none;
    }
    button {
      height: 48px;
      max-width: 320px;
      border: none;
      color: $c-text;
      background-color: $c-med-black;
      text-transform: uppercase;
      letter-spacing: 10%;
      font-weight: 700;
      font-size: 18px;
      font-family: var(--f-meltmino);
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        background-color: $c-primary;
        color: $c-med-black;
      }
    }
  }
}
