.hero {
    background-color: var(--dark-black);

    .wrapper{
        align-items:center;
        flex-direction:row;
    }

    img{
        width:auto;
        height:196px;
    }

    .text{
        display: inline-block;

        ul{
            display:flex;
            flex-wrap:wrap;
            gap: var(--s-md);
            list-style:"+ " inside;
        }
    }
}