// colors
$c-primary: #B96EEE;
$c-primary-30:rgba(185, 110, 238, 0.3);
$c-primary-50:rgba(185, 110, 238, 0.5);$c-secondary:#9DE5D4;
$c-dark-30: rgba(187, 199, 196, 0.3);
$c-dark-black: #161616;
$c-med-black: #212222;
$c-light-black: #2c292b;
$c-text: #BBC7C4;
$c-heading: #EBEFEE;

$nav-width:var(--nav-width);

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

// spacing
// - SCSS variables for consistency
// - CSS variables to make SCSS varaibles responsive
:root {
  --s-lg: 48px; //section padding
  --s-md: 32px; //section gap
  --s-sm: 24px; //card padding

  --s-xs: 16px;
  --s-xxs: 8px;
  --s-xxxs: 4px;

  --nav-width:198px; //64 (square size) + (?) a constant based on the longest nav word + (16) value of nav 'right' property + (32) gap between nav and main content

  @media only screen and (max-width: 1079px) {
    --s-lg: 24px;
    --s-md: 24px;
    --s-sm: 16px;
    
    --nav-width:0px;
  }
}

$s-lg: var(--s-lg); //section padding
$s-md: var(--s-md); //section gap
$s-sm: var(--s-sm); //card padding
$s-xs: var(--s-xs);
$s-xxs: var(--s-xxs);
$s-xxxs: var(--s-xxxs);
