@use "./design-tokens" as *;

@use "../components/Hero/Hero" as *;

@font-face {
  font-family: Canterbury;
  src: //'../public/fonts/Canterbury-Regular.woff2' format('woff2'),
    url("../public/fonts/Canterbury-Regular.woff") format("woff");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: +0.5%;
}

body {
  color: $c-text;
  background: $c-med-black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -2%;
}

h2 {
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -2%;

  font-family: "Canterbury", "Courier New", monospace;

  background-color: aquamarine;
  background-image: url("../public/images/h1-background.png");
  width: 144px; /* sizing square */
  height: 144px; /* sizing square */
  padding-top: 40px; /* positioning square */
  padding-left: 24px; /* positioning square */
  //margin-left: -24px; /* use to align to text, not to square */
  //margin-bottom: -48px;
  border-radius: $r-sm; /* rounding square */
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: $s-lg;

  .wrapper {
    max-width: 1200px;
    display: flex;
    gap: $s-md;
    flex-direction: column;
  }
}

/////////////////////////////////////////

.project-list {
  display: flex;
  gap: $s-md;
  flex-direction: column;
  //flex-wrap: nowrap;

  .project-card {
    $image-size: 320px;
    position: relative;
    width: 100%;
    min-height: $image-size;

    img {
      width: $image-size;
      height: $image-size;
      border-radius: $r-md;
      position: absolute;
    }

    .text {
      background-color: $c-light-black;
      width: calc(100% - $s-md);
      min-height: $image-size;
      padding: $s-sm;
      padding-left: $image-size;
      margin-left: $s-md;
      margin-top: $s-md;
      border-radius: $r-md;

      .date {
        position: absolute;
        right: $s-md;
      }
    }
  }
}
