@use './design-tokens' as *;
@use './[slug]/project-page' as *;
@use '../components/Hero/Hero' as *;
@use '../components/Footer/Footer' as *;
@use '../components/ProjectCard/ProjectCard' as *;
@use '../components/CTA/CTA' as *;
@use '../components/Carousel/Carousel' as *;
@use '../components/Nav/Nav' as *;
@use '../components/ContactForm/ContactForm' as *;
@use '../components/ProjectHero/ProjectHero' as *;


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: +0.5%;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  color: $c-text;
  background: $c-dark-black;
  font:
    400 16px var(--f-meltmino),
    "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#home h2 {
  font:
    400 48px var(--f-nicolatte),
    "Courier New",
    monospace;
  line-height: 1.5;
  letter-spacing: 10%;

  background-image: url("/images/h1-bg.webp");
  color: $c-heading;
  width: 144px; /* sizing square */
  height: 144px; /* sizing square */
  padding-top: 40px; /* positioning text */
  padding-left: 24px; /* positioning text */
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  #home h2,
  .project hgroup {
    width: 96px;
    height: 96px;
    font-size: 40px;
    padding-top: 24px;
  }
}

a {
  color: $c-primary;
  text-decoration: none;
}

section.band,
article.band {
  padding: $s-lg;

  .wrapper {
    margin-right: $nav-width;
    max-width: 1200px;
    display: flex;
    gap: $s-md;
    flex-direction: column;
  }
}

blockquote{
  padding-left:48px;
}

// *********** HOME PAGE

#illustration {
  background-color: $c-med-black;
}