@use "../design-tokens" as *;

.project-page {
  article {
    section:not(.summary-card) {
      .wrapper {
        h3 + p {
          margin-top: calc($s-sm * -1);
        }

        h3 {
          margin-top: $s-xxs;
        }

        .visual {
          width: 100%;
          max-width: 800px;
          height: auto;
          margin-top: $s-xxs;
          margin-bottom: $s-xxs;
        }
      }
    }
    section.alt {
      background-color: $c-med-black;
    }
    section.summary-card {
      .wrapper {
        // flex-direction: row;
        max-width: 800px;
        div.summary-card {
          display: flex;
          flex-direction: row;
          gap: $s-md;

          div{
            flex:1;
            min-width:0;
          }
        }
        .visual {
          width: 100%;
          max-width: 800px;
          height: auto;
          margin-top: $s-xxs;
          margin-bottom: $s-xxs;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .project-page article section.summary-card .wrapper div.summary-card{
    flex-direction:column;
  }
}
