@use "../design-tokens" as *;

.project-page {
  article.band {
    .wrapper {
      max-width: 720px;
      gap: $s-sm;

      ul{
        padding-left:1em;
      }

      h2,
      h3,
      hgroup {
        color: #e2baff;
      }

      hgroup {
        h2 {
          font:
            400 32px var(--f-nicolatte),
            "Courier New",
            monospace;
          line-height: 1.5;
          letter-spacing: 10%;
        }
      }

      abbr{
        color:#e2baff;
      }
 	    
      h3 ~ p{
        margin-top:-24px;
      }

      .summary-card {
        width: calc(100% - 16px);
        background-image: url("/images/noise.png");
        filter: drop-shadow($c-primary-30 16px 16px);
        padding: $s-sm;
        display: flex;
        flex-direction: column;
        gap: $s-xxs;
        margin-bottom: calc($s-sm + 16px);
        // margin-right:100px;
        h3 {
          color: $c-primary;
        }
        ul {
          list-style-position: inside;
        }
      }
      .visual {
        width: 100%;
        height: auto;
        &.glow{
          filter: drop-shadow(0px 0px 10px rgba(185, 110, 238, 0.8));
          border-radius:4px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .summary-card {
    font-size: 14px;
  }
}
