@use '../../app/design-tokens' as *;

footer.band{
  .wrapper{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:$s-sm;
    .text{
      max-width:720px;
      display:flex;
      flex-direction:column;
      gap:$s-xs;
    }
  }
}