@use "../../app/design-tokens" as *;

nav {
  position: fixed;
  top: $s-sm;
  right: $s-sm;
  padding-right: 100px;
  text-align: right;
  // z-index: 1;

  ul {
    li {
      list-style-type: none;

      &:first-child a {
        width: 64px;
        height: 64px;
        padding: 0;
        background-color: transparent;
      }

      a {
        display: block;
        position: relative;

        width: 64px;
        height: 64px;
        padding-top: 20px;
        padding-left: $s-xs;
        margin-bottom: $s-xs;

        background-color:$c-primary;
        // color: $c-heading;
        color:$c-dark-black;
        font-size: 18px;
        letter-spacing: 10%;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background-color: $c-primary-30;
        }
      }

      a.inverted{
        // color:$c-med-black;
        color:$c-heading;
      }
    }
  }
}

// nav.inverted ul li a {
//   color: $c-med-black;
// }

@media screen and (max-width: 1080px) {
  nav {
    //z-index: 1000;
    position: sticky;
    top: 0;
    right: auto;
    width: 100%;
    padding: $s-xxs $s-lg;
    background-color: $c-med-black;

    ul {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: $s-md;

      li a {
        color: $c-text;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: $s-xxs $s-md;
    }
  }
  nav li a {
    font-size: 14px;
  }
}
