@use "../../app/design-tokens" as *;

nav {
  position: fixed;
  top: $s-sm;
  right: $s-sm;
  padding-right: 100px;
  text-align: right;
  z-index: 1000;

  ul {
    li {
      list-style-type: none;

      &:first-child a {
        width: 64px;
        height: 64px;
        padding: 0;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }

      a {
        display: block;
        position: relative;

        width: 64px;
        height: 64px;
        padding-top: 20px;
        padding-left: $s-xs;
        margin-bottom: $s-xs;

        backdrop-filter: blur(4px);
        background-color: $c-primary;
        color: $c-dark-black;
        font-size: 18px;
        letter-spacing: 10%;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background-color: $c-primary-30;
        }
      }

      a.inverted {
        color: $c-heading;
        img {
          content: url("/images/logo-80-light.png");
        }
      }
    }
  }
}

// nav.inverted ul li a {
//   color: $c-med-black;
// }

@media screen and (max-width: 1080px) {
  nav {
    //z-index: 1000;
    position: sticky;
    top: 0;
    right: auto;
    width: 100%;
    padding: $s-xxs $s-lg;
    background-color: $c-med-black;

    ul {
      position: relative;
      left: calc(64px + 16px);
      width: 100%;
      display: flex;
      justify-content: left;
      gap: 0 $s-md;
      min-height: 64px;
      max-width: calc(100% - 64px);

      li {
        align-items: center;
        display: flex;
      }

      li:first-child {
        position: absolute;
        transform: translateX(calc(-64px - 16px));
      }

      li a {
        color: $c-text;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: transparent;

        img {
          content: url("/images/logo-80-light.png");
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      width: 100%;
      // display: flex;
      flex-wrap: wrap;
      // gap: $s-xxs $s-md;
    }
  }
  nav ul li a {
    font-size: 14px;
  }
}
